@import url('./ManagementBase.css');

/* Các badge chỉ dành riêng cho Bài học */
.badge-easy {
  background-color: var(--success-light);
  color: var(--success-color);
}

.badge-medium {
  background-color: var(--warning-light);
  color: var(--warning-color);
}

.badge-hard {
  background-color: var(--error-light);
  color: var(--error-color);
}

.badge-published {
  background-color: var(--success-light);
  color: var(--success-color);
}

.badge-draft {
  background-color: var(--gray-200);
  color: var(--gray-600);
}