@import url('./ManagementBase.css');

/* Class này bọc nội dung chính của trang cài đặt 
  để tạo khoảng cách giữa các "thẻ" (card) 
*/
.settings-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl); /* Thêm khoảng cách giữa các khối cài đặt */
}

/* Thêm một chút khoảng cách trên cho nút "Lưu" 
  để nó không dính sát vào trường nhập liệu cuối cùng
*/
.settings-form-actions {
  margin-top: var(--spacing-lg);
}

.checkbox-group input[type="checkbox"] {
  width: 14px !important;
  height: 14px !important;
  cursor: pointer;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px; /* hoặc var(--spacing-sm) */
}

.form-spans {
  margin-left: 0 !important; /* bỏ khoảng thừa */
}